/* Fonts
font-family: 'Poppins', sans-serif; */

/* Colors
Dark Brown: #2e2121 */

body {
  font-family: "Poppins", sans-serif;
  background-color: #1d1a21;
}

footer {
  color: #d1c6b8;
  background-image: linear-gradient(
      rgba(29, 26, 33, 0.8),
      rgba(29, 26, 33, 0.8)
    ),
    url(../images/books03.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

footer a {
  color: #d1c6b8;
  opacity: 0.7;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  opacity: 0.7;
  text-align: left;
}

footer ul {
  padding: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../images/library02.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #d1c6b8;
  padding: 260px 0;
  text-align: center;
}

header a {
  background-color: #d1c6b8;
  color: #1b1110;
  display: inline-block;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 16px 32px 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

header h1 {
  font-size: 92px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
  opacity: 90%;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  opacity: 60%;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  opacity: 80%;
}

main {
  background-color: #d1c6b8;
  font-family: "Poppins", sans-serif;
}

main h2 {
  color: #272044;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  opacity: 50%;
  text-align: left;
  text-transform: uppercase;
}

main h3 {
  color: #272044;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  margin: 0;
  text-align: left;
}

main h4 {
  color: #272044;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  margin: 0;
  text-align: left;
}

main h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0rem;
  text-align: left;
}

main p {
  color: #272044;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f5ede4;
}

section.secondary h2 {
  text-align: center;
  color: #272044;
  opacity: 100%;
}
section.secondary h3 {
  text-align: center;
  color: #272044;
}

section.tertiary h2 {
  text-align: center;
  color: #272044;
  opacity: 100%;
}

section.tertiary h3 {
  text-align: center;
  color: #272044;
  margin-bottom: 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #423b4a;
  text-decoration: none;
}

.card {
  background: #ddd3c6;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
  height: 500px;
}

/* Remover quando não quiser mais o maps */
.card-header.grid {
  grid-gap: 0;
}

.card-footer {
  padding: 0 30px 30px;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* remover quanto tirar o maps */
.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.favorite-book {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns-bookstores {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-favorite-books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Como estava antes
.img-responsive {
  height: 185px;
  width: 100%;
} */

.img-responsive {
  width: 100%;
}

.open-book {
  max-width: 400px;
  opacity: 0.8;
  border-radius: 25px;
}

@media (max-width: 900px) {
  footer h3 {
    text-align: center;
  }

  footer li {
    text-align: center;
  }

  footer p {
    text-align: center;
  }

  header {
    padding: 60px 0;
  }

  header a {
    font-size: 12px;
    padding: 12px 24px 12px 24px;
  }

  header h1 {
    font-size: 36px;
    margin: 15px;
  }
  header h2 {
    font-size: 20px;
    opacity: 100%;
  }
  header h3 {
    font-size: 16px;
    opacity: 100%;
  }

  main h2 {
    color: #272044;
    font-size: 14px;
    opacity: 0.7;
    text-align: center;
  }

  main h3 {
    color: #272044;
    text-align: center;
    font-size: 18px;
    margin: 15px;
  }

  main h4 {
    text-align: center;
  }

  main h5 {
    text-align: center;
  }

  main p {
    color: #272044;
    font-size: 14px;
    text-align: center;
  }

  section {
    padding: 30px;
  }

  /* remover quanto tirar o maps */
  .card-header img {
    display: none;
  }

  /* remover quanto tirar o maps */
  .embed {
    aspect-ratio: 16 / 9;
  }

  .favorite-book {
    width: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .open-book {
    max-width: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
