/* Fonts
font-family: 'Poppins', sans-serif; */

/* Colors
Dark Brown: #2e2121 */

body {
  font-family: Poppins;
  background-color: #1d1a21;
}

footer {
  color: #d1c6b8;
  background-image: linear-gradient(
      rgba(29, 26, 33, 0.8),
      rgba(29, 26, 33, 0.8)
    ),
    url(../images/books03.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer a {
  color: #d1c6b8;
  opacity: 0.7;
}

footer h3 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  opacity: 0.7;
  text-align: left;
}

footer ul {
  padding: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../images/library02.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #d1c6b8;
  padding: 260px 0;
  text-align: center;
}

header a {
  background-color: #d1c6b8;
  color: #1b1110;
  display: inline-block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 16px 32px 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 92px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
  opacity: 90%;
}

header h2 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  opacity: 60%;
}

header h3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  opacity: 80%;
}

main {
  background-color: #d1c6b8;
}

main h2 {
  color: #272044;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  opacity: 30%;
  text-align: left;
  text-transform: uppercase;
}

main h3 {
  color: #272044;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  margin: 0;
  text-align: left;
}

main p {
  color: #272044;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 10px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

.open-book {
  max-width: 400px;
  opacity: 0.8;
}

@media (max-width: 900px) {
  footer h3 {
    text-align: center;
  }

  footer li {
    text-align: center;
  }

  footer p {
    text-align: center;
  }

  header {
    padding: 60px 0;
  }

  header a {
    font-size: 12px;
    padding: 12px 24px 12px 24px;
  }

  header h1 {
    font-size: 36px;
    margin: 15px;
  }
  header h2 {
    font-size: 20px;
    opacity: 100%;
  }
  header h3 {
    font-size: 16px;
    opacity: 100%;
  }

  main h2 {
    font-size: 14px;
    opacity: 0.7;
    text-align: center;
  }

  main h3 {
    text-align: center;
    font-size: 18px;
    margin: 15px;
  }

  main p {
    font-size: 14px;
    text-align: center;
  }

  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .open-book {
    max-width: 300px;
    margin: 20px;
  }
}
